# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/bin
/bin-int
/excimer/external/bin
/excimer/external/obj
/excimer/external/freetype/obj
/excimer/external/freetype/bin
/excimer/external/msdf-atlas-gen/bin
/excimer/external/msdf-atlas-gen/obj
/excimer/external/freetype/bin
/excimer/external/freetype/obj
/excimer/external/msdf-atlas-gen/obj
